<div class="notification {{ actionInfo.color }}" ng-repeat="actionInfo in ctrl.actions track by actionInfo.action.id" ng-click="ctrl.clickAction(actionInfo)">
    <div class="message">
        <div class="label" ng-class="{'no-min-height': actionInfo.noMinHeight }" ng-if="actionInfo.label">
            <div class="avatar-image" style="background-image: url('assets/people/{{ ::actionInfo.employeeAvatar }}.png')"
                 ng-if="actionInfo.employeeAvatar != null"></div>
            <img class="ddosattack" src="images/ui/serverattack.png" ng-if="actionInfo.action.type == 'DdosAttack'">
            <img class="logoPath" ng-src="{{actionInfo.logoPath }}" ng-if="actionInfo.logoPath != null">
            <i class="fa fa-phone adcontractended" ng-if="actionInfo.action.type == 'AdContractEnded'"></i>

            <span ng-bind-html="actionInfo.label"></span>
        </div>

        <div ng-if="actionInfo.stacks">
            <component ng-repeat="stack in actionInfo.stacks track by stack.component.name"
                       component="stack.component"
                       popover-placement="right"
                       ng-disabled="!stack.isAvailableInInventory"
                       show-inventory-amount="true"
                       show-demand="true"
                       stack-amount="::stack.amount"
                       class="small"></component>
            <div ng-if="actionInfo.task.penaltyPaid" class="color-red text-center" tooltip="{{ ctrl.strings.tooltip_penalty_paid }}" tooltip-append-to-body="true">
                <i class="fa fa-exclamation-triangle"></i>
                <span localize="penalty_fee"></span> <b>-{{ actionInfo.penaltyFee | currency:'$':0 }}</b>
            </div>
        </div>

        <div class="text-right margin-top margin-bottom">
            <button class="tiny red" ng-if="actionInfo.deny" ng-click="ctrl.deny(actionInfo.action);$event.stopPropagation();">
                <span ng-if="actionInfo.denyLabel">{{actionInfo.denyLabel}}</span>
                <span ng-if="!actionInfo.denyLabel" localize="deny"></span>
            </button>
            <button class="tiny" ng-if="actionInfo.accept" ng-click="ctrl.accept(actionInfo.action);$event.stopPropagation();">
                <span ng-if="actionInfo.acceptLabel">{{actionInfo.acceptLabel}}</span>
                <span ng-if="!actionInfo.acceptLabel" localize="accept"></span>
            </button>
        </div>

        <div class="progressBar small">
            <div class="indicator blue" ng-class="{ red: actionInfo.task.penaltyPaid }" style="width: {{actionInfo.progress}}%"></div>
        </div>

    </div>
</div>