<!--<div id="background">-->
    <!--<img id="office" src="">-->
    <!--<div id="assets">-->
        <!--&lt;!&ndash; Preview &ndash;&gt;-->
        <!--<img id="object-preview" class="item"/>-->
        <!--&lt;!&ndash;{{itemPreview.item.name}}  style="margin-top: {{ itemPreview.item.placementOffset[itemPreview.orientation-1].top }}px; margin-left: {{ itemPreview.item.placementOffset[itemPreview.orientation-1].left }}px;"&ndash;&gt;-->

        <!--&lt;!&ndash; Workstations &ndash;&gt;-->
        <!--<div id="workstations"></div>-->

        <!--&lt;!&ndash; Items &ndash;&gt;-->
        <!--<div id="items"></div>-->
    <!--</div>-->
<!--</div>-->
