<h1>
    <i class="fa fa-shopping-basket"></i>
    <span localize="purchase_item"></span>
    <i class="fa fa-times pull-right close-button" close-all-ui></i>
</h1>

<div class="buttons" ng-if="$root.activeBuilding.type == 'Office'">
    <ul class="multi-toggle">
        <li localize="show_all" ng-click="$root.selectedPurchaseCategory = null" ng-class="{active: $root.selectedPurchaseCategory == null }"></li>
        <li ng-repeat="category in ctrl.categories"
            ng-click="$root.selectedPurchaseCategory = category"
            ng-class="{ active: $root.selectedPurchaseCategory == category }" localize="{{category}}">
        </li>
    </ul>
</div>

<div class="box-list flex-row flex-wrap optimize-scroll" style="justify-content: space-around;">
    <div class="box text-center column-center flex-row-center"
         ng-repeat="item in ctrl.items track by item.name"
         ng-click="ctrl.previewItem(item)"
         uib-popover-html="item.popoverText"
         popover-trigger="mouseenter"
         popover-append-to-body="true"
         popover-title="{{ item.localized }}">
        <div class="badge" ng-if="item.type == 'desk' && !$root.settings.variables.disableWorkstationLimit">{{ ctrl.remainingWorkstations }}</div>
        <button class="inventory-sell-button"
                localize="sell_item"
                localize-data-amount="{{item.inventoryCount}}"
                ng-click="ctrl.sellItem(item); $event.stopPropagation();"
                ng-if="item.inventoryCount > 0"></button>
        <img ng-src="{{ item.url }}"/>
    </div>
</div>

<div class="padding">
    <div class="alert alert-info text-center" ng-click="$root.setActiveView('researchTree', $root.activeBuilding.type)" localize="use_research_to_unlock_more"></div>
</div>